* {
    margin: 0;
    padding: 0;
    transition: .7s;
    scroll-behavior: smooth;
}

body, html {
    height: 100%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.nav-bar {
    display: flex;
    position: fixed;
    width: 100%;
    background-color: #FFF;
    box-shadow: 0px 1px 5px #112;
}

.head {
    display: block;
    justify-content: center;
    width: 100%;
}

.head > header {
    text-align: center;
    display: block;
    margin: 0 auto;
}

.head > header > img {
    margin-top: 6rem;
    width: 2rem;
    height: 2rem;
}

section.section#section > div {
    margin: 1rem 1rem;
}

.nav-bar > .ul-link {
    display: inline-block;
    width: 100%;
    margin: 1.5rem;
    list-style-type: none;
}

.nav-bar > .ul-link > .li-link {
    display: inline;
    margin: 0 1.5rem;
}

.nav-bar > .ul-link > .li-link > a {
    text-decoration: none;
    color: #112;
    font-weight: 600;
}

.nav-bar > .ul-link > .li-link > a:hover {
    color: royalblue;
}

section.section#section {
    display: grid;
    grid: auto-flow 16em / repeat(auto-fill, minmax(20rem 1fr));
}

.sign-out {
  margin: 1rem 2em;
  width: 6rem;
  height: 2.4rem;
  border-radius: .4em;
  border: 1px solid #F66;
  box-shadow: 0 0 5px #F66;
}

.sign-out:hover {
  background-color: #F66;
  color: #F66;
}

.sign-out > a {
  text-decoration: none;
  font-weight: 600;
  color: #F66;
}

.sign-out > a:hover {
  color: #FFF;
}

/*About.php*/

  #submit-msg {
    display: block;
    border-radius: .3rem;
    width: 40.5rem;
    height: 2.5rem;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: .7rem auto 1rem 11rem;
    border-style: none;
    font-weight: 600;
    background-color: #59F;
  }

  #clear-msg {
    display: block;
    border-radius: .3rem;
    box-shadow: 0 0 20px #F59;
    border: 1px solid #F59 !important;
    width: 40.5rem;
    height: 2.5rem;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: .7rem auto 2.5rem 11rem;
    border-style: none;
    font-weight: 600;
  }

  #submit-msg:hover {
    box-shadow: 0 0 20px #59F;
    height: 2.9rem;
  }

  #clear-msg:hover {
    background-color: #F59;
    height: 2.9rem;
  }

  .about-p {
    color: #112 !important;
    text-align: justify;
    font-size: 1.5rem;
    font-weight: 600;
    margin: 1.5rem 0 2rem 0;
  }

  .form-Contact > fieldset {
    display: block;
    max-width: 1000px;
    width: 100%;
    margin: .5rem auto;
    padding-top: 2rem;
    justify-content: justify;
    align-content: center;
    align-items: center;
    background-color: rgba(235, 240, 240, .8);
    border-radius: .4rem;
    border: 1px solid #112;
  }

  .form-Contact > fieldset > legend {
    color: wheat;
    cursor: pointer;
    margin: 0 .1em;
    font-weight: 600;
    box-shadow: 0 2px 15px #112;
    background-color: #211;
    padding: .5rem 1rem;
    border-radius: 24px;
  }

.form-Contact > fieldset > legend:hover {
    color: #F66;
    box-shadow: 0 2px 15px #F66;
}

  .Contact-sec > h1 {
    text-align: center;
    color: royalblue;
  }

  .form-Contact > fieldset > label {
    display: block;
    text-align: left;
    margin: 0 0 0 5rem;
    font-weight: 600;
    font-size: 1.2rem;
    font-family: monospace;
  }

  .form-Contact > fieldset > input, textarea {
    display: block;
    padding-left: .5rem;
    border-radius: .2rem;
    font-family: monospace;
    font-weight: 600;
    font-size: 1.5rem;
    color: #112;
    border-style: solid;
    border-color: royalblue;
    width: 40rem;
    height: 4rem;
    margin: .5rem auto;
  }

  .form-Contact > fieldset > textarea {
    height: 15rem !important;
  }

  @media (max-width: 1080px) {
    .form-Contact > fieldset {
      max-width: 600px;
      width: 100%;
    }
  }

/*End About.php*/

div#box {
    justify-items: center;
    align-items: center;
    text-align: center;
    background-color: #112;
    border-style: none;
    border-radius: .4rem;
    box-shadow: 10px 5px 10px #112;
    padding: 4rem 0;
}

div#box > p {
    color: #EEE;
    margin: 1rem auto;
    font-weight: 600;
}

button {
    cursor: pointer;
    background-color: transparent;
}

div#box > button {
    background-color: transparent;
    border-radius: .3rem;
    /* border-color: #6ff; */
    border: 1px solid #6ff;
    box-shadow: 0px 1px 12px #6ff;
    color: #EEE;
    width: 5rem;
    height: 2rem;
}

div#box > button:hover {
    background-color: #6ff;
    font-weight: 600;
    color: #112;
}

div.box1 {
    grid-column: 1/2;
}

div.box2 {
    grid-column: 2/3;
}

div.box3 {
    grid-column: 3/4;
}

@media (max-width: 1200px) {

    div.box1 {
        grid-area: 1/1/2/2;
    }

    div.box2 {
        grid-area: 1/2/2/3;
    }

    div.box3 {
        grid-area: 2/1/3/2;
    }
}

@media (max-width: 760px) {
    div.box1 {
        grid-area: 1/1/2/4;
    }

    div.box2 {
        grid-area: 2/1/3/4;
    }

    div.box3 {
        grid-area: 3/1/4/4;
    }
}

main {
    /* display: grid; */
    /* grid: auto-flow 16em / repeat(3, 1fr); */
    justify-content: center;
    align-content: center;
    width: 100%;
    height: 100%;
}



/* Application.php */
main > .bg-modal {
    position: relative;
    /* display: none; */
    width: 1024px;
    /* border: 1px solid black; */
    margin: 1rem auto;
    border-radius: .4rem;
}

main > .bg-modal > .modal-content {
    position: relative;
    justify-content: center;
    align-items: center;
    /* border: 1px solid; */
    max-width: 650px;
    border-style: none;
    background-color: #EEE;
    width: 100%;
    border-radius: .4rem;
    margin: 1em auto;
    display: block;
}

main > .bg-modal > .modal-content > form {
    justify-content: center;
    align-items: center;
    display: block;
    margin: 2rem auto;
}

main > .bg-modal > .modal-content > form > fieldset {
  margin: 2em auto;
  max-width: 600px;
  /* background-color: #EEE; */
  border-radius: .3em;
  justify-content: center;
  border-left: none;
  border-right: none;
  align-items: center;
}

main > .bg-modal > .modal-content > form > fieldset > legend {
  background-color: #112;
  cursor: pointer;
  border-radius: 24px;
  box-shadow: 1px 2px 5px #6F6;
  padding: .3em .7em;
  color: #6F6;
  font-weight: 600;
}

main > .bg-modal > .modal-content > form > fieldset > legend:hover {
  color: royalblue;
  box-shadow: 1px 2px 10px royalblue;
}

main > .bg-modal > .modal-content > form > fieldset > label {
    display: block;
    margin: 1em auto;
    text-align: left;
    align-items: center;
}

.modal-content > form > fieldset > button {
    width: 600px;
    height: 2.5rem;
    margin: .5rem 0 2em 0;
    font-weight: 600;
    border-radius: .2rem;
    border: 1px solid royalblue;
    box-shadow: 0 0 12px royalblue;
    justify-content: right;
}

.modal-content > form > fieldset > button:hover {
    background-color: royalblue;
}

.modal-content > form > fieldset > label > input[type="text"],
input[type="date"], input[type="tel"], textarea {
    justify-content: justify;
    border-radius: .2em;
    margin: .5rem auto;
    border: 1px solid #6F6;
    /* border-color: #6F6; */
    box-shadow: 0 0 10px #6F6;
    width: 600px;
    height: 2.5rem;
    padding-left: .5rem;
}

.close-btn {
  position: absolute;
  font-size: 42px;
  border-radius: 50%;
  cursor: pointer;
  transform: rotate(45deg);
  right: 14px;
  top: 0;
  color: #F66;
}

label > textarea {
    box-shadow: 0 0 12px #6F6;
    height: 7em;
}

form > fieldset > label > select {
    justify-content: right;
    border-radius: .2em;
    cursor: pointer;
    margin: .5rem auto;
    border-color: #6F6;
    box-shadow: 0 0 10px #6F6;
    width: 610px;
    height: 2.5rem;
    padding: 0 .5rem;
}

.form1 {
    /* display: none; */
}

.form2#form2 {
    display: none;
}

.form3#form3 {
    display: none;
}

/* End Application.php */


/*  Start Payment Portal  */

h1#payment-header {
  text-align: center;
  text-decoration: overline;
}

/*  End Payment Poatral */


footer {
  background-color: #112;

  margin-top: 20%;
  bottom: 0;
  width: 100%;
}

footer > p {
  text-align: center;
  color: wheat;
}
