
* {
    margin: 0;
    padding: 0;
    transition: .7s ease-in-out;
    scroll-behavior: smooth;
    /* border: 1px solid black; */
}

html, body {
    height: 100%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, sans-serif, sans-serif, monospace;
}

body {
    display: block;
    background-color: #EEE;
    display: grid;
    grid-template-columns: 17em auto;
    grid-template-rows: 5em min-content max-content min-content;
}

/* .header, .footer {
    grid-column: 1/3;
    grid-row: 2/auto-flow min-content;
} */

.header {
    grid-column: 1/3;
    grid-row: 2/3;
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 2rem auto;
}

.navbar#navbar {
    border: 1px solid black;
    box-shadow: 0 5px 5px #112;
    grid-area: 1/1/3/3;
    /* margin: 2rem auto; */
    padding: 2rem auto;
    height: 50px;
    background-color: transparent;
    border: 1px solid black;
    border-right: none;
    border-top: none;
    border-left: none;
    position: fixed;
    padding: 2rem auto;
    width: 100%;    
    margin: 2rem auto;
}

a[name="Dashboard"] {
    color: royalblue;
}

img[alt="hms"] {
    margin: .5rem .5rem 0 0;
    width: 2rem;
    height: 2rem;
}

.footer {
    display: none;
}

.main {
    grid-column: 1/3;
    grid-row: 3/4;
    display: grid;
    grid-gap: 1em 1em; 
    grid: auto-flow 16em/repeat(auto-fit, minmax(26em, 1fr));
    margin: 0 2em;
}

.box {
    border: 1px solid black;
    border-radius: .3rem;
    margin: 1rem 1rem; 
    color: #EEE;
    font-weight: 600;
    background-color: #112;
    border-style: none;
    box-shadow: 15px 7px 20px #112;
}

.box:hover {
    transform: scale(1.03);
    cursor: pointer;
}

#box1 {
    background-color: rgb(44, 126, 158);
    box-shadow: 15px 7px 20px rgb(29, 80, 100);
}

#box2 {
    background-color: rgb(245, 87, 87);
    box-shadow: 15px 7px 20px rgb(124, 55, 55);
}

#box3 {
    background-color: rgb(216, 130, 18);
    box-shadow: 15px 7px 20px rgb(105, 59, 6);
}

#box4 {
    background-color: #112;
    box-shadow: 15px 7px 20px #112;
}

#box5 {
    background-color: rgb(124, 48, 161);
    box-shadow: 15px 7px 20px rgb(79, 33, 102);
}

#box6 {
    background-color: #6D6;
    box-shadow: 15px 7px 20px #272;
}

.box > p {
    margin: 1rem;
}

.ul-link {
    display: inline;
    margin: 4rem 0;
    /* margin: 1rem auto;
    list-style: none; */
} 

.li-link {
    display: inline-block;
    padding: 2rem auto;
}


.link-header {
    display: inline;
    text-decoration: none;
    border-style: none;
    background-color: transparent;
    margin: 2rem 2rem;
    padding: 7rem 0;
    color: #f66;
    font-weight: 600;
}

.li-link, .link-header:hover {
    color: royalblue;
}

/* @media (max-width: 1087px) {
    

    body {
        display: grid;
        grid-auto-rows: auto;
        grid-template-columns: min-content 1fr;
        grid-template-rows: min-content auto min-content;
    }

    .main {
        border: 1px solid black;
        display: grid;
        grid-gap: 1em;
        grid:  repeat(auto-fit, minmax(12em, 1fr))/repeat(auto-fit, minmax(26em, 1fr));
        grid-template-rows: repeat(auto-fill, minmax(15em, 1fr));
    } 
    
} 

@media (max-width: 1072px) {
    .navbar {
        display: none;
    }

    body {
        display: inline-block;
    }

    .main {
        grid-template-columns: repeat(auto-fill, 1fr);
    }
}  */